.container {
    padding: 2rem;
    height: 100vh;
    overflow-y: hidden;
}

.messages {
    width: 100%;
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    background: #eeeeeeba;
}

.messages::-webkit-scrollbar-thumb {
    background-color: rgb(2, 151, 52);
    border-radius: 20px;
    border: 1px solid #ddd;
}

.messages_send,
.message_received {
    display: flex;
    width: 100%;
}

.messages_receiveContainer {
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
}

.messages_receiveImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.messages_receiveMessage {
    background-color: rgb(0, 83, 138);
    border-radius: 0 10px 10px 10px;
    align-self: flex-end;
}

.messages_receiveMessage,
.messages_sendMessage {
    max-width: 50%;
    overflow-wrap: break-word;
    padding: 10px;
    color: #fff;
}

.message_received {
    margin-left: auto;
    display: flex;
}

.messages_sendContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.messages_sendImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.messages_sendMessage {
    background-color: rgb(2, 151, 52);
    border-radius: 10px 0 10px 10px;
    margin-top: 0.5rem;
    direction: ltr;
}

.deleteMessage {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    font-size: 16px;
    margin-right: 0.5rem;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.deleteMessage:active {
    border-color: #dc3545;
}

.form_input {
    width: "80%";
    display: "inline";
}